<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homeverse - Find your dream house</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="{%static 'base/favicon.svg'%}" type="image/svg+xml">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{%static 'base/css/style.css'%}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>
<body>

  <header class="speedooheader" data-speedooheader>

    <div class="overlay" data-overlay></div>

    <div class="speedooheader-top">
      <div class="speedoocontainer">

        <ul class="speedooheader-top-list">

          <li>
            <a href="mailto:info@homeverse.com" class="speedooheader-top-link">
              <ion-icon name="mail-outline"></ion-icon>

              <span>info@homeverse.com</span>
            </a>
          </li>

          <li>
            <a href="#" class="speedooheader-top-link">
              <ion-icon name="location-outline"></ion-icon><br/>

              <span>No 5 KK dasilva Avenue</span>
            </a>
          </li>

        </ul>

        <div class="speedoowrapper">
          <ul class="speedooheader-top-social-list">

            <li>
              <a href="#" class="speedooheader-top-social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="speedooheader-top-social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="speedooheader-top-social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="speedooheader-top-social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

          </ul>
        {% if request.user.is_authenticated%}
         {% block listing %} <a href="{% url 'base:listing' %}" class="speedooheader-top-speedoobtn">Add Listing</a>{%endblock%}
          {%else%}
           {% block listings %} <a href="" class="speedooheader-top-speedoobtn">Add property</a>{%endblock%}

       {%endif%}
        </div>

      </div>
    </div>

    <div class="speedooheader-bottom">
      <div class="speedoocontainer">

        <a href="#" class="logo">
          <img src="{%static 'base/images/logo.png'%}" alt="Homeverse logo">
        </a>

        <nav class="speedoonavbar" data-speedoonavbar>

          <div class="speedoonavbar-top">

            <a href="#" class="logo">
              <img src="{%static 'base/images/logo.png'%}" alt="Homeverse logo">
            </a>

            <button class="nav-close-speedoobtn" data-nav-close-speedoobtn aria-label="Close Menu">
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <div class="speedoonavbar-bottom">
            <ul class="speedoonavbar-list">

              <li>
                <a href="{%url 'base:home'%}" class="speedoonavbar-link" data-nav-link>Home</a>
              </li>

              <li>
                <a href="#about" class="speedoonavbar-link" data-nav-link>About</a>
              </li>

              <li>
                <a href="#service" class="speedoonavbar-link" data-nav-link>Service</a>
              </li>

              <li>
                <a href="#property" class="speedoonavbar-link" data-nav-link>Property</a>
              </li>

<!--              <li>-->
<!--                <a href="#blog" class="speedoonavbar-link" data-nav-link>Blog</a>-->
<!--              </li>-->

              <li>
                <a href="#contact" class="speedoonavbar-link" data-nav-link>Contact</a>
              </li>

            </ul>
          </div>

        </nav>

        <div class="speedooheader-bottom-actions">

<!--          <button class="speedooheader-bottom-actions-speedoobtn" aria-label="Search">-->
<!--            <ion-icon name="search-outline"></ion-icon>-->

<!--            <span>Search</span>-->
<!--          </button>-->

<!--          <button class="speedooheader-bottom-actions-speedoobtn" aria-label="Profile">-->
<!--            <ion-icon name="person-outline"></ion-icon>-->

<!--            <span>Profile</span>-->
<!--          </button>-->

<!--          <button class="speedooheader-bottom-actions-speedoobtn" aria-label="Cart">-->
<!--            <ion-icon name="cart-outline"></ion-icon>-->

<!--            <span>Cart</span>-->
<!--          </button>-->

          <button class="speedooheader-bottom-actions-speedoobtn" data-nav-open-speedoobtn aria-label="Open Menu">
            <ion-icon name="menu-outline"></ion-icon>

            <span>Menu</span>
          </button>

        </div>

      </div>
    </div>

  </header>
{%block body%}

{%endblock body%}
  <!--
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="speedoocontainer">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./assets/images/logo-light.png" alt="Homeverse logo">
          </a>

          <p class="section-text">
            Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of the printing.
          </p>

          <ul class="contact-list">

            <li>
              <a href="#" class="contact-link">
                <ion-icon name="location-outline"></ion-icon>

                <address>No 5 kk Dasilva Avenue</address>
              </a>
            </li>

            <li>
              <a href="tel:+2348169560559" class="contact-link">
                <ion-icon name="call-outline"></ion-icon>

                <span>+2348169560559</span>
              </a>
            </li>

            <li>
              <a href="azeezadedeji638@gmail.com" class="contact-link">
                <ion-icon name="mail-outline"></ion-icon>

                <span>azeezadedeji638@gmail.com</span>
              </a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Company</p>
            </li>

            <li>
              <a href="#" class="footer-link">About</a>
            </li>

            <li>
              <a href="#" class="footer-link">Blog</a>
            </li>

            <li>
              <a href="#" class="footer-link">All Products</a>
            </li>

            <li>
              <a href="#" class="footer-link">Locations Map</a>
            </li>

            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Services</p>
            </li>

            <li>
              <a href="#" class="footer-link">Order tracking</a>
            </li>

            <li>
              <a href="#" class="footer-link">Wish List</a>
            </li>

            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Terms & Conditions</a>
            </li>

            <li>
              <a href="#" class="footer-link">Promotional Offers</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Customer Care</p>
            </li>

            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Wish List</a>
            </li>

            <li>
              <a href="#" class="footer-link">Order tracking</a>
            </li>

            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="speedoocontainer">

        <p class="copyright">
          &copy; {{year}} <a href="#">SpeedooDeveloper</a>. All Rights Reserved
        </p>

      </div>
    </div>

  </footer>





  <!--
    - custom js link
  -->
  <script src="{%static 'base/js/script.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
</body>